<a href="https://colab.research.google.com/github/JabberJaws89/Darpya/blob/main/Theo's_Module_3_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/horse_racing.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27008 entries, 0 to 27007
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Dato               27008 non-null  object
 1   Track              27008 non-null  object
 2   Race Number        27008 non-null  int64
 3   Distance           27008 non-null  int64
 4   Surface            27008 non-null  object
 5   Prize money        27008 non-null  int64
 6   Starting position  27008 non-null  int64
 7   Jockey             27008 non-null  object
 8   Jockey weight      27008 non-null  int64
 9   Country            27008 non-null  object
 10  Horse age          27008 non-null  int64
 11  TrainerName        27008 non-null  object
 12  Race time          27008 non-null  int64
 13  Path               27008 non-null  int64
 14  Final place        27008 non-null  int64
 15  FGrating           27008 non-null  int64
 16  Odds               27008 non-null  int64
 17  RaceType           27008 non-null  object
 18  HorseId            27008 non-null  int64
 19  JockeyId           27008 non-null  int64
 20  TrainerID          27008 non-null  int64
dtypes: int64(14), object(7)
memory usage: 4.3+ MB

In [ ]:
# 1 Calculate the average weight of jockeys across all rows in the dataset. The weights are given in kilograms. Round the result to two decimal places.

round(df['Jockey weight'].mean(), 2)

55.87

In [ ]:
# 2 What was the average race time for jockey Brett Prebble? Round to two decimal places.

print('Avg Race Time', round(df[df['Jockey'] == 'Brett Prebble']['Race time'].mean(), 2))

Avg Race Time 7517.2

In [ ]:
# 3 Create a new DataFrame containing only the rows where horses and their jockeys won first place. Calculate the average prize money won by first-place jockeys, in Hong Kong Dollars (HKD). Round the result to two decimal places.

Place = df['Final place'] == 1
df_Place = df[Place]
round(df_Place['Prize money'].mean(),2)

1534781.48

In [ ]:
df.head()

,Dato,Track,Race Number,Distance,Surface,Prize money,Starting position,Jockey,Jockey weight,Country,...,TrainerName,Race time,Path,Final place,FGrating,Odds,RaceType,HorseId,JockeyId,TrainerID
0,03.09.2017,Sha Tin,10,1400,Gress,1310000,6,K C Leung,52,Sverige,...,CH Yip,8338,2,9,110,22,Handicap,1736,8656,6687
1,16.09.2017,Sha Tin,10,1400,Gress,1310000,14,C Y Ho,52,Sverige,...,CH Yip,8156,3,4,124,48,Handicap,1736,8659,6687
2,14.10.2017,Sha Tin,10,1400,Gress,1310000,8,C Y Ho,52,Sverige,...,CH Yip,8236,1,6,118,11,Handicap,1736,8659,6687
3,11.11.2017,Sha Tin,9,1600,Gress,1310000,13,Brett Prebble,54,Sverige,...,CH Yip,9653,0,8,107,11,Handicap,1736,8453,6687
4,26.11.2017,Sha Tin,9,1600,Gress,1310000,9,C Y Ho,52,Sverige,...,CH Yip,9417,0,3,123,40,Handicap,1736,8659,6687

In [ ]:
# 4 Did winning horses tend to run on dirt or grass surfaces?

df.groupby('Surface')['Surface'].count()

Surface
Dirt      3316
Gress    23692
Name: Surface, dtype: int64

In [ ]:
#  5 What was the fastest race time among horses that ran the 1400-meter race? The units given are in seconds (sometimes, the data is dirty, just assume they are all seconds for now).

distance = df['Distance'] == 1400
df_distance = df[distance]
df_distance
df_distance.sort_values(by='Race time')

,Dato,Track,Race Number,Distance,Surface,Prize money,Starting position,Jockey,Jockey weight,Country,...,TrainerName,Race time,Path,Final place,FGrating,Odds,RaceType,HorseId,JockeyId,TrainerID
17053,02.12.2018,Sha Tin,10,1400,Gress,1380000,10,N Callan,60,Australia,...,J Moore,82,2,3,133,44,Handicap,24473,8651,6535
22315,19.01.2020,Sha Tin,4,1400,Gress,967000,8,K Teetan,60,New Zealand,...,AS Cruz,82,2,1,126,45,Handicap,25770,8652,6684
24289,17.11.2019,Sha Tin,5,1400,Gress,1450000,12,M F Poon,53,Australia,...,D Hall,82,2,7,116,10,Handicap,26131,8658,6519
26271,31.05.2020,Sha Tin,10,1400,Gress,1450000,8,M L Yeung,56,Great Britain,...,J Moore,82,3,10,120,44,Handicap,28563,8661,6535
16976,28.04.2019,Sha Tin,9,1400,Gress,1380000,1,N Callan,60,Australia,...,R Gibson,82,0,5,128,16,Handicap,24464,8651,6694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8037,26.05.2019,Sha Tin,3,1400,Gress,690000,14,M F Poon,51,New Zealand,...,L Ho,8955,3,14,37,91,Handicap,22455,8658,6689
2076,25.11.2018,Sha Tin,10,1400,Gress,1950000,10,M L Yeung,57,Australia,...,TP Yung,8991,3,13,61,28,Handicap,22003,8661,6690
26216,01.03.2020,Sha Tin,3,1400,Gress,967000,13,H W Lai,57,Australia,...,KL Man,9171,0,14,-2,191,Handicap,28527,8664,6693
4725,08.10.2017,Sha Tin,5,1400,Gress,880000,12,W M Lai,60,New Zealand,...,P O'Sullivan,9222,2,14,4,74,Handicap,22213,8674,6691
13402,17.12.2017,Sha Tin,6,1400,Gress,880000,7,K C Leung,57,Irland,...,A Lee,9291,0,14,-5,23,Handicap,22862,8656,6695

In [ ]:
# 6 What was the slowest race time among Irish horses who ran the 1400-meter race?

distance_irish = (df['Distance'] == 1400) & (df['Country'] == 'Irland')
df_distance_irish = df[distance_irish]
df_distance_irish
df_distance_irish.sort_values(by='Race time', ascending=False)

# 9291

,Dato,Track,Race Number,Distance,Surface,Prize money,Starting position,Jockey,Jockey weight,Country,...,TrainerName,Race time,Path,Final place,FGrating,Odds,RaceType,HorseId,JockeyId,TrainerID
13402,17.12.2017,Sha Tin,6,1400,Gress,880000,7,K C Leung,57,Irland,...,A Lee,9291,0,14,-5,23,Handicap,22862,8656,6695
7855,01.01.2018,Sha Tin,8,1400,Gress,1310000,8,C Y Ho,59,Irland,...,WY So,8714,0,13,65,99,Handicap,22441,8659,6683
24050,05.05.2019,Sha Tin,5,1400,Gress,1380000,9,C Y Ho,56,Irland,...,KW Lui,8684,3,12,89,53,Handicap,26075,8659,6692
12630,08.03.2020,Sha Tin,1,1400,Gress,725000,14,H N Wong,58,Irland,...,CW Chang,8592,0,14,73,136,Handicap,22804,8660,6696
19870,20.01.2019,Sha Tin,1,1400,Gress,920000,4,K C Leung,56,Irland,...,CW Chang,8561,0,14,80,99,Handicap,25246,8656,6696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24181,14.03.2020,Sha Tin,10,1400,Gress,1450000,1,G van Niekerk,56,Irland,...,D Whyte,817,0,2,122,10,Handicap,26106,8831,6996
22775,09.11.2019,Sha Tin,3,1400,Gress,967000,13,A Badel,60,Irland,...,R Gibson,815,2,1,126,27,Handicap,25833,8665,6694
2007,01.10.2019,Sha Tin,7,1400,Gress,3250000,10,M F Poon,51,Irland,...,P F Yiu,807,2,7,136,65,Handicap,21996,8658,6700
18213,16.12.2018,Sha Tin,7,1400,Gress,920000,14,H N Wong,56,Irland,...,CW Chang,85,4,11,101,99,Handicap,24700,8660,6696
14845,26.11.2017,Sha Tin,8,1400,Gress,1860000,3,M Chadwick,54,Irland,...,AS Cruz,82,0,2,130,97,Handicap,23572,8663,6684

In [ ]:
# 7 Which Australian-born horse's jockey has competed in the most races?

australian_horses = df[df['Country'] == 'Australia']
australian_horses
Jockey_counts = australian_horses.groupby('JockeyId')['Jockey'].value_counts()
Jockey_counts.sort_values(ascending=False)

JockeyId  Jockey
8443      Joao Moreira    945
8650      Z Purton        892
8652      K Teetan        883
8659      C Y Ho          759
8656      K C Leung       697
                         ...
8872      Joe Bowditch      1
8388      Wayne Smith       1
8442      Maxime Guyon      1
9104      B Avdulla         1
8490      Yutaka Take       1
Name: count, Length: 71, dtype: int64

In [ ]:
# 8 Assuming that higher odds indicate a lower likelihood of winning a race, determine which jockey, riding horses originating from Australia, Ireland, or New Zealand, has the lowest average likelihood of winning (i.e., the highest average odds) based on this dataset.

AusIreNZea = df[(df['Country'] == 'Australia') | (df['Country'] == 'Ireland') | (df['Country'] == 'Australia')]
AvgOdds = AusIreNZea.groupby('Jockey')['Odds'].mean()
AvgOdds.sort_values(ascending=False)

Jockey
H Lam                427.000000
Wayne Smith          312.000000
B Avdulla            208.000000
H W Lai              114.728395
T H So               108.529851
                        ...
C Keane               30.400000
Lanfranco Dettori     28.000000
T Clark               22.000000
C Williams            19.500000
Yutaka Take           14.000000
Name: Odds, Length: 71, dtype: float64

In [ ]:
# 9 For horses aged 10 or above, identify the horse ID with the best average race time (i.e., the smallest average race time) in the dataset. Answer to the nearest second.

HorseAge = df[df['Horse age'] >= 10]
BestAvg = HorseAge.groupby('HorseId')['Race time'].mean()
BestAvg.sort_values()

HorseId
22206     4388.000000
22527     4925.454545
22207     4943.000000
22304     5927.000000
22173     5970.500000
22234     6015.666667
22807     6117.000000
22862     6472.000000
22839     6631.875000
22326     6952.000000
22290     7015.111111
22188     7097.666667
22391     7273.400000
22728     8097.875000
22219     8250.200000
21850     9266.500000
22724    10090.333333
22623    10118.333333
22720    11148.000000
22872    11967.666667
Name: Race time, dtype: float64

In [ ]:
# 10 Which country, based on the horses' country of origin, achieved the most first-place wins in races where the prize money exceeded $2,000,000?

df[(df['Final place']==1) & (df['Prize money']>2000000)]['Country'].value_counts()

Country
Australia        87
New Zealand      45
Irland           26
Great Britain    16
Frankrike         6
USA               5
S?r-Afrika        5
Japan             4
Tyskland          3
Brasil            3
Name: count, dtype: int64